<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
        <html xmlns:th="http://www.thymeleaf.org">
        <head>
        <meta charset="UTF-8">
        <title>Reset Password Email</title>
</head>
<body>
<p>Witaj,</p>
<p>Dziękujemy za zarejestrowanie się na naszej stornie</p>
<p>Aby aktywować konto, naciśnij link poniżej:</p>
<p><a th:href="@{${confirmAccountUrlWithToken }}">Aktywuj konto</a></p>
<p>Pozdrawiamy,</p>
<p>MyNewHomie Team</p>
</body>
</html>
</title>
</head>
<body>

</body>
</html>