<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
        <html xmlns:th="http://www.thymeleaf.org">
        <head>
        <meta charset="UTF-8">
        <title>Reset Password Email</title>
</head>
<body>
<p>Witaj,</p>
<p>Otrzymujesz ten e-mail, ponieważ złożyłeś prośbę o zresetowanie hasła dla Twojego konta.</p>
<p>Aby zresetować hasło, kliknij poniższy link:</p>
<p><a th:href="@{${resetPasswordUrlWithToken }}">Zresetuj hasło</a></p>
<p>Jeśli nie złożyłeś prośby o resetowanie hasła, możesz zignorować ten e-mail.</p>
<p>Pozdrawiamy,</p>
<p>MyNewHomie Team</p>
</body>
</html>
</title>
</head>
<body>

</body>
</html>